data/
logs/
models/saved_models/
wandb/
plots/
entry/
pickle/
results/
**.pkl
**.pyc
**.pt 
**.out
**.csv
**.txt
**.json
kg/temporal_events/entire_kg.pkl
kg/temporal_events/temporal_events_1.pkl
kg/temporal_events/temporal_kg.pkl
saved/neural_3.pt
saved/transf_3.pt
models/__pycache__/models.cpython-39.pyc
kg/tkg_create/export_relations_19_may_2023.json
kg/tkg_create/export_19_may_2023.csv
kg/sector/sector_nse.pkl
kg/profile_and_relationship/wikidata/nse/apicache-py3/1c18642edbc3d3e185a09892784507f446fa9c915b44c73f4fbb7b22b7be7a9c
kg/profile_and_relationship/wikidata/nse/apicache-py3/2fc6072badc473f0ae6cbca4344dd89dd4da94c6be89d4ba1e8f8d6bb830b367
kg/fundamentals/macrotrends/financial_events.pkl
__pycache__/utils.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
kg/profile_and_relationship/wikidata/nse/pywikibot.lwp
kg/profile_and_relationship/wikidata/nse/throttle.ctrl
kg/profile_and_relationship/wikidata/nse/apicache-py3/644d1c68a83935b749c8608f05fd23e5e5c1e18f5dce61a6c873727d7791a896
kg/profile_and_relationship/wikidata/nse/apicache-py3/2884926ad6288510715da43367f8045a102694ca0214ce98d105d10c254a1e55
kg/profile_and_relationship/wikidata/nse/apicache-py3/f592906a22a061b80a4fc9e557de4f99ee8ddfc15afa847a88d8e574c1de5508
models/__pycache__/models.cpython-39.pyc
kg/tkg_create/temporal_kg.pkl
